* {
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

.headingContainer {
    z-index: -100;
    background-image: url("./img/HeadlineImage_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
}

.headerTextContainer {
    z-index: 100;
}

.headerText {
    font-size: 40px;
    font-weight: bold;

}

.text-perfectBloodSugar {
    background-image: linear-gradient(to right,
        #682f10,
        #ede7e3,
        #ede7e3,
        #ede7e3,
        #682f10);

    color: #ba3232;
    font-size: 60px;


}

#textBox1 {}

.textBox-text {
    padding: 0 100px;

}

.threeChocContainer {

    background-image: linear-gradient(to right,

        transparent 0%,
        #c49a6c 47%,
        #c39b7c 50%,
        #c49a6c 52%,
        transparent 100%);
}

.threeChocolate img {
    width: 80%;
}

.threeChocolate p {
    font-size: 20px;
    color: #4f341a;
}